@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --primary-color: #2f2e41;
    --secondary-color: #675F91;
    --background-color: #ffff;
    --light-color: #f4f4f4;
    --hover-primary-color: #3b3a52;
    --hover-secondary-color: #4f4676;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --info-color: #17a2b8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.d-flex{
    display: flex;
}
.mt-3{
    margin-top: 3rem;
}
.text-secondary{
    color: var(--secondary-color);
}

.btn-primary{
    background-color: var(--primary-color) !important;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn-primary:hover{
    background-color: var(--hover-primary-color) !important;
}

.btn-outline-primary{
    background-color: transparent;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.btn-outline-primary:hover{
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.fw-bold{
    font-weight: 500;
}
.fw-light{
    font-weight: 300;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-color: #ffff;
}