@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --primary-color: #2f2e41;
    --secondary-color: #675F91;
    --background-color: #ffff;
    --light-color: #f4f4f4;
    --hover-primary-color: #7cb342;
    --hover-secondary-color: #4f4676;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.d-flex{
    display: flex;
}
.mt-3{
    margin-top: 3rem;
}
.text-secondary{
    color: var(--secondary-color);
}


.fw-bold{
    font-weight: 500;
}
.fw-light{
    font-weight: 300;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-color: #ffff;
}

.section-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #62598a;
    margin-bottom: 60px;
}

.container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    max-width: 1400px;
    margin: 50px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
}

.contact-form h3 {
    font-size: 20px;
    color: #675F91;
    margin-bottom: 10px;
    margin-top: -20px;
}

.contact-form input,
.contact-form textarea {
    width: 400px;
    max-width: 400px;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #675F91;
    border-radius: 4px;
}

#message {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 0.8rem;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 1rem;
    background-color: #675F91;
    color: #ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #675F91;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #675F91;
    font-size: 40px;
    margin: 0px 60px 0px 200px;
}

.contact-info p {
    margin-bottom: 0.3rem;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.icons{
    display: flex;
    flex-direction: row;
}

.whatsapp-number {
    font-size: 40px;
    font-weight: bold;
    color: #675F91;
    margin: 5px 10px 0px 10px;
    transition: color 0.3s;
}

.whatsapp-number:hover {
    color: #675F91;
}