@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --primary-color: #2f2e41;
    --secondary-color: #675F91;
    --background-color: #ffff;
    --light-color: #f4f4f4;
    --hover-primary-color: #7cb342;
    --hover-secondary-color: #4f4676;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.d-flex{
    display: flex;
}
.mt-3{
    margin-top: 3rem;
}
.text-secondary{
    color: var(--secondary-color);
}


.fw-bold{
    font-weight: 500;
}
.fw-light{
    font-weight: 300;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-color: #ffff;
}