{% extends 'base.html' %}
{% block head %}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/about.css") }}">
{% endblock %}

{% block content %}
        <div id="aboutus" class="container">
            <div id="txt">
                <h1 class="titulo">SOBRE NOSOTROS</h1>
                <p class="texto">Somos una comunidad que comparte información de mascotas perdidas, para vincularlas con quienes buscan tenerlas de vuelta en su hogar.</p>
                <ol>
                    <li class="texto">Si se te perdio tu compañero peludo, puedes registrar sus datos y quedara en el mapa la zona donde se perdio.</li>
                    <li class="texto">Ademas de registrar podes mirar el mapa y contribuir a nuestra noble causa.</li>
                    <li class="texto">Si tenes algunda preguntao informacion, podes comunicarte con nosotros en el formulario contacto aca abajo.</li>
                </ol>
            </div>
            <img src="{{ url_for("static", filename="images/perrosaboutus.jpg") }}" id="imgabout">
        </div>
{% endblock %}