{% extends 'base.html' %}
{% block head %}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/about.css") }}">
{% endblock %}

{% block content %}
        <div id="aboutus">
            <div id="txt">
                <h1 class="titulo">SOBRE NOSOTROS</h1>
                <p class="texto">Somos una comunidad que comparte información de mascotas perdidas, para vincularlas con quienes buscan tenerlas de vuelta en su hogar.</p>
                <ol>
                    <li class="texto">Si querés buscar a tu mascota, ingresá con tu cuenta y seleccioná "Publicar mascota perdida".</li>
                    <li class="texto">Completá los datos de la mascota. Mientras más detalles brindes, mejor. No te olvides de subir fotos en buena calidad.</li>
                    <li class="texto">Publicá a tu mascota en la plataforma. ¡La comuniad verá la publicación aquí y te ayudaremos a encontrarla!. Nosotros nos encargaremos de difundirla en nuestras redes sociales.</li>
                </ol>
            </div>
            <img src="{{ url_for("static", filename="images/perrosaboutus.jpg") }}" id="imgabout">
        </div>
{% endblock %}