{% extends "base.html" %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-center">
            <img src="../../static/images/mockup.png" alt="Mockup de la aplicación" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2 class="fs-1 fw-bold " style="color: var(--primary-color);">Descarga nuestra aplicación móvil</h2>
            <p>Con nuestra aplicación móvil, puedes encontrar y reportar mascotas perdidas de manera rápida y sencilla. ¡Descárgala ahora y únete a nuestra comunidad!</p>
            <div class="">
                <a href="#" class="btn btn-primary btn-lg mt-3">Descargar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}