{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
{% endblock %}
{% block content %}
<div class="conatiner-fluid">
  <div id="mascotas-perdidas" class="h2-title">
    <h2>Mascotas perdidas</h2>
  </div>
  <div class="contenedor">
    {% for mascota in pets %}
    <article class="cuadrado">
      <figure class="circulo">
        <!-- si no tiene photo_url se muestra una imagen de un perro o gato segun corresponda -->
        {% if mascota.photo_url %}
        <img src="{{ mascota.photo_url }}" alt="Foto de {{ mascota.pet_name }}">
        {% else %}
        {% if mascota.type == 'dog' %}
        <img src="{{ url_for('static', filename='images/illustrations/dog.svg') }}" class="imagen" alt="Foto de {{ mascota.pet_name }}">
        {% elif mascota.type == 'cat' %}
        <img src="{{ url_for('static', filename='images/illustrations/cat.svg') }}" class="imagen" alt="Foto de {{ mascota.pet_name }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/illustrations/dog.svg') }}" class="imagen" alt="Foto de {{ mascota.pet_name }}">
        {% endif %}
        {% endif %}
      </figure>
     
      <figure class="cuadro_texto">
        <h2 class="nombre">{{ mascota.pet_name }}</h2>
        <!-- si el tipo es dog se muestra perro -->
        {% if mascota.type == 'dog' %}
        <p class="tipo">Perro</p>
        {% elif mascota.type == 'cat' %}
        <p class="tipo">Gato</p>
        {% else %}
        <p class="tipo">No definido</p>
        {% endif %}
        <p class="dato">Raza: {{ mascota.breed }}</p>
        <p class="dato">Color: {{ mascota.color }}</p>
        <button class="boton">Saber más</button>
      </figure>
    </article>
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
{% endblock %}