{% extends 'base.html' %} 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}
{% block footer %}

<footer class="footer">
  <div class="footer-content">
      <div class="copyright">
          ©2024 Mascotas Perdidas
      </div>
      <h3 class="brand">
          PATITAS UNIDAS
      </h3>
      <div class="social-links">
          <a href="#" class="social-link">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="social-link">
              <i class="fab fa-facebook-f"></i>
          </a>
      </div>
  </div>
</footer>
{% endblock %}
