{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block content %}
        <section id="form">
            <div class="section-title">
                <h2>Contacto</h2>
            </div>
            <div class="container">
                <form class="contact-form" action="https://gvineg.pythonanywhere.com/api/v1/send_email" method="POST">
                    <h3>¡Hablemos via Email!</h3>
                    <input type="text" id="name" name="name" placeholder="Ingrese su nombre" required>
                    <input type="email" id="email" name="email" placeholder="Ingrese su email" required>
                    <textarea id="message" name="message" placeholder="Escriba su mensaje aquí"></textarea required>
                    <button type="submit">Enviar mensaje</button>
                </form>
                <div class="contact-info">
                    <p>O hablemos por:</p>
                        <div class="icons">
                               <a class="whatsapp-number" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a class="whatsapp-number" href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                </div>
            </div>
        </section>
{% endblock %}
