{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<header>
    <nav class="navigation-bar">
        <div class="nav-container">
            <h1 class="main-title">
                <a href="{{ url_for('index') }}" class="d-flex align-items-center gap-2">
                <i class="fas fa-paw fs-1"></i> <span class="fw-bold">Patitas Perdidas</span>
            </h1>
            <div class="menu-button">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="links-container">
                <ul>
                    <li class="nav-items"><a class="nav-links fw-light" href="#home">Inicio</a></li>
                    <li class="nav-items"><a class="nav-links fw-light" href="#lostPets">Mascotas perdidas</a></li>
                    <li class="nav-items"><a class="nav-links fw-light" href="#aboutUs">Sobre Nosotros</a></li>
                    <li class="nav-items"><a class="nav-links fw-light" href="#contact">Contacto</a></li>
                    <!-- este boton va a tener cerrar sesion o iniciar sesion segun si esta logueado o no -->
                    <li class="nav-items my-0 py-0 d-flex align-items-center" id="loginButton">
                        <a class="my-0 btn-primary text-decoration-none fw-light" href="{{ url_for('cuenta') }}">
                            Mi cuenta
                        </a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
</header>
    <section  id="home" class="home">
        <div class="content-wrapper">
            <div class="text-content">
                <h2>Patitas Perdidas</h2>
                <p>Te ayudamos a encontrar a tu mascota perdida. <br> Publica tu anuncio y comparte con la comunidad.</p>
                <a href="#form" class="button contact-button">Escribinos</a>
            </div>
            <img src="{{ url_for('static', filename='images/dog.svg') }}" 
            alt="Mascota perdida" class="home-image">
        </div>
    </section> 
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<!-- logout -->
<script>
    function logout() {
        // Eliminar el token de acceso
        localStorage.removeItem('access_token');
        // Redirigir al inicio
        window.location.href = '/';
    }
</script>
{% endblock %}
