{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <header>
        <nav class="navigation-bar">
            <div class="nav-container">
                <h1 class="main-title"><a href="{{ url_for('index') }}">Patitas <br> Perdidas</a></h1>
                    <div class="links-container">
                    <ul>
                        <li class="nav-items"><a class="nav-links" href="#home">Inicio</a></li>
                        <li class="nav-items"><a class="nav-links" href="#mascotas-perdidas">Mascotas perdidas</a></li>
                        <li class="nav-items"><a class="nav-links" href="#aboutus">Sobre Nosotros</a></li>
                        <li class="nav-items"><a class="nav-links contact-button" href="#form">Contacto</a></li>
                    </ul>
                </div>
            </div> 
        </nav>
    </header>
    <section  id="home" class="home">
        <div class="content-wrapper">
            <div class="text-content">
                <h2>Patitas Perdidas</h2>
                <p>Te ayudamos a encontrar a tu mascota perdida. <br> Publica tu anuncio y comparte con la comunidad.</p>
                <a href="#form" class="button contact-button">Escribinos</a>
            </div>
            <img src="{{ url_for('static', filename='images/dog.svg') }}" 
            alt="Mascota perdida" class="home-image">
        </div>
    </section>   
{% endblock %}
