{% extends "base.html" %} {% block content %}
<div class="container py-4">
  <!-- Header Section -->
  <div class="d-flex flex-lg-row flex-column py-5 justify-content-between align-items-center mb-4">
    <h1 class="h3">Mascotas Perdidas</h1>
    <div class="d-flex gap-2 flex-wrap justify-content-lg-auto justify-content-center">
      <!-- url_for logout -->
      <a href="/" class="btn btn-secondary">
        <i class="bi bi-house me-2"></i>Volver a inicio
      </a>
      <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#newPetModal"
      >
      <i class="bi bi-plus-circle me-2"></i>Reportar Mascota Perdida
    </button>
      <button onclick="logout()"
      class="btn btn-danger">
        <i class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión
      </button>
    </div>
  </div>

  <!-- Filters Section -->
  <div id="petsGrid" class="row d-flex"></div>

    <!-- pets grid -->
  </div>

  <div class="modal-dialog">
  <!-- New Pet Modal -->
  <div class="modal fade" id="newPetModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reportar Mascota Perdida</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <form id="newPetForm">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Nombre de la mascota</label>
                <input
                  type="text"
                  class="form-control"
                  name="pet_name"
                  required
                  id="pet_name"
                  value="Firulais"
                  placeholder="Nombre de la mascota"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Tipo</label>
                <select class="form-select" name="type" required id="pet_type">
                  <option value="dog" selected>Perro</option>
                  <option value="cat">Gato</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Sexo</label>
                <select class="form-select" name="pet_sex" id="pet_sex" required>
                  <option value="male" selected>Macho</option>
                  <option value="female">Hembra</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Raza</label>
                <input
                  type="text"
                  class="form-control"
                  name="breed"
                  id="breed"
                  value="Mestizo"
                  placeholder="Raza de la mascota"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Color</label>
                <input
                  type="text"
                  class="form-control"
                  name="color"
                  required
                  id="color"
                  value="Marrón"
                  placeholder="Color principal"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Fecha de pérdida</label>
                <input
                  type="date"
                  class="form-control"
                  name="lost_date"
                  required
                  id="lost_date"
                  value="2024-11-24"
                />
              </div>
              <div class="col-12">
                <label class="form-label">Ubicación</label>
                <input
                  type="text"
                  class="form-control"
                  name="lost_location"
                  required
                  id="lost_location"
                  value="CABA, Argentina"
                  placeholder="Dirección o punto de referencia"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Latitud
                   <span class="text-muted">
                  (Opcional)</span>

                </label>
                <input
                  type="number"
                  class="form-control"
                  name="lost_latitude"
                  step="any"
                  id="lost_latitude"
                  value="-34.617662"
                  placeholder="Ej: 19.4326"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Longitud<span class="text-muted">
                  (Opcional)</span></label>
                <input
                  type="number"
                  class="form-control"
                  name="lost_longitude"
                  step="any"
                  id="lost_longitude"
                  value="-58.367938"
                  placeholder="Ej: -99.1332"
                />
              </div>
               <div>
                <div class="mt-3" id="getCoordinatesSteps" style="display: none">
                  <ol>
                    <li class="ms-0">En Google Maps, ingresa la dirección donde se extravió la mascota.</li>
                    <li class="ms-0">Ház click derecho en el punto exacto donde se perdió la mascota.</li>
                    <li class="ms-0">Copia las coordenadas de latitud y longitud.</li>
                  </ol>
                </div>
                <img src="../static/images/get-coordinates-ie.gif" alt="Get coordinates" class="img-fluid rounded my-2" id="getCoordinatesGif" style="display: none" />
                <p id="coordinatesHelp" class="text-muted">
                  Para mostrar la ubicación exacta de la mascota en el mapa, ingresa las coordenadas de latitud y longitud.
                  <button type="button" class="btn btn-link" onclick="showGetCoordinatesGif()">
                    ¿Cómo obtener las coordenadas?
                  </button>
                </p>
               </div>
              <div class="col-12">
                <label class="form-label">Descripción</label>
                <textarea
                  class="form-control"
                  name="description"
                  rows="3"
                  required
                  id="description"
                  placeholder="Describe características distintivas, comportamiento, circunstancias de la pérdida, etc."
                >Se perdió en el parque, es muy amigable y le gusta jugar con pelotas.</textarea>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="has_name_tag"
                    id="has_name_tag"
                    checked
                  />
                  <label class="form-check-label">
                    ¿Tiene placa de identificación?
                  </label>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Toast notifications -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div
      id="notification"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Notificación</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
        ></button>
      </div>
      <div class="toast-body"></div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="../static/js/account.js"></script>
<script>
  function showGetCoordinatesGif() {
    const gif = document.getElementById('getCoordinatesGif');
    gif.style.display = 'block';

    const coordinatesHelp = document.getElementById('coordinatesHelp');
    coordinatesHelp.style.display = 'none';

    const getCoordinatesSteps = document.getElementById('getCoordinatesSteps');
    getCoordinatesSteps.style.display = 'block';
  }
</script>
{% endblock %}